.form {
    width: 300px;
}

.label {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px;
}
input {
    font-size: 18px;
    padding: 10px;
    
}

.button {
    width: 200px;
    font-size: 18px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: yellow;
}

.button:hover, .button:focus {
    background-color: green;
    color: white;
}