.list {
    width: 500px;
    
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px 5px;
    margin-bottom: 5px;
}
.button {
    width: 100px;
    font-size: 18px;
    border-radius: 30px;
    padding: 10px;
    border: none;
    background-color: yellow;
}

.button:hover, .button:focus {
    background-color: green;
    color: white;
}